<html>
	<head>
		<title>{assign:text siteName/}</title>
		{assign:css 1140.css,ie.css/}
     	{assign:script jquery.min.js,css3-mediaqueries.js/}
	</head>
	<body>
        <div class="container">
            <div class="row">
                <div class="twelvecol last">
                    <h1>{assign:text siteName/}-test-<?php echo date('H:i:s')?></h1>
                </div>
            </div>
		</div>
		<div class="container">
			<div class="row">
				<div class="twelvecol last">
					<?php echo $content;?>
				</div>
			</div>
		</div>
		<div class="container">
		    <div class="row">
		        <div class="twelvecol last" style="color:gray;">
		            <span style="float:right;">powered by ln[wangqunqiang@gmail.com]</span>
		            <div style="clear:both;"></div>
		        </div>
		    </div>
		</div>
	</body>
</html>